.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-shadow: 0 1px 3px -2px #000;
  margin-bottom: 1px;
  background: white;
}

/* .nav-logo {
 /* width: 200px;
 } */
.nav-profile {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media (mix-width: 800px) {
  .navbar {
    padding: 15px 30px;
  }

  .nav-logo {
    width: 80px;
  }

  .nav-profile {
    width: 20px;
  }
}
