/* Basic styles for the item */
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.item img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.item img:hover {
  transform: scale(1.05);
}

.item p {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
}

.item-prices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-price-new {
  color: green;
  font-weight: bold;
  font-size: 18px;
}

.item-price-old {
  text-decoration: line-through;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Responsive adjustments */
@media (max-width: 800px) {
  .item {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 5px;
  }

  .item img {
    width: 100%;
    height: auto;
  }

  .item p {
    font-size: 14px;
    margin: 5px 0;
    text-align: left;
  }

  .item-prices {
    align-items: flex-start;
  }

  .item-price-new {
    font-size: 16px;
  }

  .item-price-old {
    font-size: 12px;
  }
}
