.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../Assets/hero_image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.hero-main {
  text-align: center;
  margin-block-start: 20em;
}

.hero-main h1 {
  font-size: 6rem;
  padding-block-end: 10px;
  width: 100%;
}

.hero-main h1 span {
  color: #c35e0e;
}

.hero-main h2 {
  font-size: 2rem;
  color: #c35e0e;
}

@media(max-width:1200px) {
  .hero-main h2 {
    font-size: 8vw;
    /* height: 100%; */
  }
}

@media(max-width:800px) {
  .hero-main h1 {
    font-size: 8vw;
  }
}
